<h1>Ask coach</h1>
<form action="answer" data-turbo="false">
  <input class="form-control" type="text" name="question" placeholder="Default input" aria-label="default input example">
  <input class="btn btn-primary" type="submit" value="Ask Coach!">
</form>
